header, div, img, span, nav, a, section, h1, h3, h4, p, button, h2, ul, li, footer {
  border: 1px solid black;
}
/* Universal styling */
html {
  font-size: 16px;
  font-family: sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 64px;
  width: 100%;
}

/* Logo */
.logo {
  margin-left: 24px;
  display: flex;
}
.logo img {
  width: 3.5rem;
}

.logo span {
  font-size: 2rem;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
}

/* Navigation */
.mobile-nav {
  display: none;
}

nav {
  display: flex;
  align-items: center;
}

nav span {
  margin: 0 0.5rem;
}

nav a {
  text-decoration: none;
  color: #00070d;
}

@media only screen and (max-width: 480px) {
  nav span a {
    display: none;
  }

  .mobile-nav {
    display: inline;
  }

  .logo span {
    display: none;
  }
}

/* Jumbotron */
.jumbotron {
  display: flex;
  padding: 2rem 1.5rem;
  background-color: lightgray;
}

.jumbotron img {
  width: 60%;
  height: 60%;
}

#button-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2.5rem;
}

#button-section h1 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

#button-section p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

#button-section button {
  background-color: rgb(18, 15, 14);
  padding: 0.5rem 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}

@media only screen and (max-width: 480px){
  .jumbotron {
    padding: 2rem 1rem;
  }

  .jumbotron img {
    display: none;
  }

  #button-section {
    margin: 0;
  }

  #button-section h1 {
    margin-bottom: 2rem;
  }

  #button-section p {
    margin-bottom: 1.5rem;
  }
}

/* Admissions */
#admissions {
  display: flex;
  padding: 2rem 1.5rem;
}

#main-image {
  width: 60%;
}

#main-image img {
  width: 100%;
}
